DATABASE_URL=postgresql://user:password@host:5432/dbname
JWT_SECRET=your_super_secret_key_here
NODE_ENV=production
PORT=3000
RESEND_API_KEY=your_resend_api_key
FROM_EMAIL=noreply@yourdomain.com
TG_SECRET=random_secret_shared_with_bot
TG_TOKEN=токен_бота_от_botfather
OMDB_API_KEY=ваш_ключ_от_omdbapi.com
YOUTUBE_API_KEY=ваш_ключ_от_console.cloud.google.com
